.tabela {
    width: 50%;
    max-height: 50px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}

/* .general-container{
    max-width: 30%;
}

.table-container{
    background-color: rgb(1, 35, 231);
    max-width: fit-content;
} */